<!-- import bootstrap in your original ejs file, instructions: https://getbootstrap.com/docs/5.0/getting-started/introduction/-->

<nav class="top_nav">
  <span>
    <a href="/"><img class="title" src="/images/NoodleExpressLogoText.png"></a>
  </span>
  <div>
    <a href="/order"><span class="contact">MENU</span></a>
    <a href="/mypage"><span class="contact">MY ORDER</span></a>
    <a href="/dashboard"><span class="contact">DASHBOARD</span></a>
  </div>
</nav>
