
.mainContainer {
  margin: 0 !important;
}

.currentOrderContainer {
  margin-top: 0 !important;
  padding-top: 3em;
  height: fit-content;

}

.currentOrderTitle {
  box-sizing: content-box;
  font-size: x-large;
}

.currentOrder {
  background-color: #F2BA4D;
  font-size: xx-small;
  height: fit-content;
  box-shadow: 5px 5px 5px rgba(187, 175, 89, 0.5);

}

.pastOrder {
  background-color: #F2BA4D;
}

.card-body {
  object-fit: contain;
  height: fit-content;
  background-color: rgb(244, 244, 244);

 }


.pastOrderCardContainer {
  font-size: xx-small;
}
