

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 40px;
  margin-bottom: 0;
  list-style: none;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}


.cart_title {
  display: flex;
  justify-content: space-evenly;
}



// MENU items after orginal visit

.photoAndTitle {
  background-color: yellow;
  box-sizing: content-box;
  box-shadow: 5px 5px 5px rgba(187, 175, 89, 0.5);
  border-radius: 15px;
  padding: 1em;
  height: fit-content;
  font-size: small;

  display: flex !important;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

#dish_pic {
  border-radius: 5px;
}

.itemTitleAndPrice {
  margin: 0 !important;
}

.itemTitle {
  font-size: x-large;
  margin-bottom: 0 !important;
}

.itemPrice {
  font-style: italic;
}
// CART

.cartCard {
  position: fixed;
  box-shadow: 5px 5px 5px rgba(187, 175, 89, 0.5);
  font-size: x-small;
  width: 40vw!important;
}

.w-50 {
  width: 50vw!important;
  height: fit-content;
}
.ms-5 {
margin-left: 3rem!important;
margin-right: 3rem!important;
}



.menu_and_cart_container {
  display: flex;
  padding-top: 120px;
}

// Customizations

// .customizations {

// }

.cutomizations_confirm {
  background-color: chartreuse;

  border-radius: 15px;
  padding: 1em;
  margin-top: 0 !important;
  font-size: small;
  width: fit-content;
  // visibility: collapse;
}

.btn-group-a {
  display: flex;
  flex-direction: column;

}

.category_nav {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  margin-top: 40px;
}

.page_body_container {
  display: flex;
  justify-content: flex-start;
}

.confirm_button {
  height: fit-content;
}
